<h1>POC-2</h1>
<button (click)="addNew()">Add New</button>
<div *ngIf="!openWell;else wellForm" class="wrapper-div">
    <div class="div-styling header">
        <div class="col-md-6">Name</div>
        <div class="col-md-3">Type</div>
        <div class="col-md-3">Source</div>
    </div>
    <div class="div-styling" *ngFor="let data of wellList">
        <div class="col-md-4">{{data.name}}</div>
        <div class="col-md-5" [style.background-color]="data.color">{{data.type}}</div>
        <div class="col-md-3"><a (click)="openForm(data)">{{data.sourceKey}}</a></div>
    </div>
</div>
<ng-template #wellForm>
    <app-well [wellInfo]="listInfo" (formData)="updatedWellData($event)" (closeForm)="closeForm($event)"></app-well>
</ng-template>