.wrapper-div {
  min-height: 148px;
  width: 500px;
  border: 1px solid lightgray;
  margin: 3px;
  .div-styling {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3px 0;
    border-bottom: 1px solid lightgray;
    div {
      padding: 3px;
    }
  }
  .header {
    margin: 0;
    border-bottom: 1px solid lightgray;
    background-color: lightblue;
    div {
      font-weight: bold;
    }
  }
}

.btn-styling{
    margin: 5px;
}
