<h1>POC-1</h1>
<div>
    <button *ngIf="!show;else showData" (click)="showDetails()">SHOW</button>
</div>

<ng-template #showData>
    <div class="wrapper-div">
        <div class="div-styling header">
            <div class="col-6">Name</div>
            <div class="col-6">Age</div>
        </div>
        <div class="div-styling" *ngFor="let data of userList">
            <div class="col-6">{{data.name}}</div>
            <div class="col-6">{{data.age}}</div>
        </div>
    </div>
    <button class="btn-styling" (click)="hideDetails()">HIDE</button>
</ng-template>