<h1>Dropdown</h1>
<p>This is dropdown component</p>
<select id="drpdown">
    <option value="opt1">opt1</option>
    <option value="opt2">opt2</option>
    <option value="opt3">opt3</option>
    <option value="opt4">opt4</option>
</select>