<h1>POC-3</h1>
<div class="abc">
    <div class="drop-styling" (drop)="drop($event)" (dragover)="dragEnd($event)">
        <div #displayArea></div>
    </div>
    <div class="drag-styling">
        <div *ngFor="let item of dragList" class="drag-list" draggable="true" (dragstart)="drag($event,item)">
            <strong>{{item.title}}</strong>
        </div>
    </div>
</div>