.abc {
  width: 700px;
  height: 227px;
  border: solid 1px gray;
  display: flex;
  .drop-styling {
    border: solid 1px gray;
    width: 80%;
  }
  .drag-styling {
    border: solid 1px gray;
    width: 20%;
    .drag-list {
      width: 100%;
      border: solid 1px gray;
      padding: 5px;
      background-color: #fbe9ae;
      text-align: center;
    }
  }
}
