<h1>Add Well</h1>
<form [formGroup]="wellForm">
    <div class="form-wrapper">
        <div class="form-group">
            <label>Name</label><span class="asterik-styling">*</span>
            <input type="text" class="form-control" [value]="wellForm.name" formControlName="name">
        </div>
        <div class="form-group">
            <label>Type</label><span class="asterik-styling">*</span>
            <input type="text" class="form-control" [value]="wellForm.type" formControlName="type">
        </div>
        <div class="form-group">
            <label>sourceKey</label><span class="asterik-styling">*</span>
            <input type="text" class="form-control" [value]="wellForm.source" formControlName="sourceKey">
        </div>
        <div class="btn-styling">
            <button type="button" class="btn btn-primary" (click)="submitForm()"
                [disabled]="!wellForm.dirty || wellForm.invalid">Add Well</button>
            <button type="button" class="btn btn-primary" (click)="backToList()">BACK</button>
        </div>
    </div>
</form>